.blog_post_banner.blog_post_image {
	border-radius: 10px;
	overflow: hidden;
}

.blog_post_banner.blog_post_image img {
	border-radius: 10px;
}


.user_info_button {
	width: 46px;
	height: 46px;
	display: inline-block;
	float: right;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #FEF0C9;
	text-align: center;
	line-height: 43px;
	margin-left: 6px;
	font-size: 14px;
	color: #444;
	margin-top: 5px;
}

.user_info_button:hover {
	border-color: red;
	color: #f47e00;
}


.blog_post_control {
	margin-top: 40px;
}

.blog_post_control_item {
	float: left;
	margin-right: 14px;
	font-size: 16px;
}

.blog_post_control_item a, .blog_post_control_item .share_item.share_sign {
	height: 38px;
	padding: 0 22px;
	line-height: 38px;
	display: inline-block;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border: 1px solid #f47e00;
	color: inherit;
	-o-transition: all  0.1s ease-in;
	-webkit-transition: all  0.1s ease-in;
	-moz-transition: all  0.1s ease-in;
	transition: all  0.1s ease-in;
}
.blog_post_control_item a:hover, .blog_post_control_item .share_item.share_sign:hover {
	background-color: #f47e00;
	color: #fff;
}

.blog_post_control_item .share_item {
	width: 38px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	border: none;
	border: 1px solid #333;
}
.blog_post_control_item .social_share_item_wrapper {
	display: inline-block;
	visibility: hidden;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	opacity: 0; /*开始为透明*/
	-moz-transform: translate(20px);
	-webkit-transform: translate(20px);
	transform: translate(20px);
	-moz-transition: all 0.35s ease-in;
	-webkit-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}

.blog_post_control_item .social_share_item_wrapper.animating {
	visibility: visible;
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-transform: translate(0);
	-webkit-transform: translate(0);
	transform: translate(0);
}

.blog_post_control_item .social_share_item_wrapper:nth-child(1) {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.blog_post_control_item .social_share_item_wrapper:nth-child(2) {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.blog_post_control_item .social_share_item_wrapper:nth-child(3) {
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.blog_post_control_item .social_share_item_wrapper:nth-child(4) {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}

.blog_post_control_item .social_share_item_wrapper:nth-child(5) {
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
}

.blog_post_control_item .social_share_item_wrapper:nth-child(6) {
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.blog_post_control_item .share_item.share_sign {
	border-color: #ddd;
	padding: 0;
	cursor: pointer;
	visibility: visible;
	filter: alpha(opacity=100);
	opacity: 1;
}

.blog_post_control_item .share_item.share_sign:hover {
	background-color: transparent;
	color: inherit;
}

.blog_post_control_item .share_item.share_facebook {
	border-color: #234e9a;
}
.blog_post_control_item .share_item.share_facebook:hover {
	background-color: #234e9a;
}

.blog_post_control_item .share_item.share_twitter {
	border-color: #32aadc;
}
.blog_post_control_item .share_item.share_twitter:hover {
	background-color: #32aadc;
}

.blog_post_control_item .share_item.share_googleplus {
	border-color: #e2131e;
}
.blog_post_control_item .share_item.share_googleplus:hover {
	background-color: #e2131e;
}

.blog_post_control_item .share_item.share_linkedin {
	border-color: #007bb5;
}
.blog_post_control_item .share_item.share_linkedin:hover {
	background-color: #007bb5;
}

.blog_post_control_item .share_item.share_pinterest {
	border-color: #c8071d;
}
.blog_post_control_item .share_item.share_pinterest:hover {
	background-color: #c8071d;
}

.blog_single .blog_post_control_item .social_share_item_wrapper {
	visibility: visible!important;
	filter: alpha(opacity=100)!important;
	opacity: 1!important;
	-moz-transform: translate(0)!important;
	-webkit-transform: translate(0)!important;
	transform: translate(0)!important;
}

.blog_single .blog_post_control_item .share_item.share_sign {
	border: none;
	cursor: default;
	width: auto;
	margin-right: 12px;
}

/*post-list-style*/
#post_list_header_logo_wrapper {
	border-bottom:solid 1px #ddd;
}
.list-group-item {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:dashed 1px #ddd;
	margin-bottom: 10px;	
}

.blog_post_description {
	font-size: 13.5px;
	line-height: 23px;
	margin-top: 12px;
}

#blog_post_meta  span{
	margin-left: 10px;
	color: red;
}

.more_link{
	font-size: 150%;
	color: red;
}



