@charset "UTF-8";
/*
目录样式文件
*/
.nest_table-of-contents {
  box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
  -webkit-box-shadow: 5px 5px 5px #999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
  float: right;
  font-size: 10pt;
  width: 300px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  background: #dfdfdf;
  border: solid 1px #999999;
  margin: 0 0 10px 15px;
  /* .tocHeading {
       font-weight: bold;
       font-size: 125%;
   }*/ }
.nest_table-of-contents_toc {
    background: #dfdfdf; 
}
.nest_table-of-contents_toc_ul {
      list-style: disc; 
}
.nest_table-of-contents_toc_ul_li {
        margin-left: 5px !important;
        padding: 0 !important;
}
